{#empty Twig template #}
<script type="text/javascript">
    jQuery(document).ready(function() {
        jQuery("#{{ id }} ").jqGrid({{ grid | json_encode() | raw }});
        jQuery("#{{ id }}").jqGrid('filterToolbar',{});
        {% if events is defined %}
            {% for event in events %}
                jQuery("#{{ id }} ").setGridParam({ {{ event.eventName}}:{{ event.eventHandler | raw }} });
            {% endfor %}
        {% endif %}
        {% if editId is defined %}
        jQuery("#{{ editId }} ").click(function() {
            jQuery("#{{ id }} ").jqGrid("editRow", selected);
            this.disabled = 'true';
            jQuery("#sved1,#cned1").attr("disabled", false);
        });
        {% endif %}
        {% if saveId is defined %}
        jQuery("#{{ saveId }} ").click(function() {
            jQuery("#{{ id }} ").jqGrid("saveRow", selected, {"successfunc": function() {
                    jQuery("#{{ id }} ").trigger("reloadGrid");
                }});
            jQuery("#{{ saveId }} ,  #{{ restoreId }} ").attr("disabled", true);
            jQuery("#{{ editId }} ").attr("disabled", false);
        });
        {% endif %}
        {% if restoreId is defined %}
        jQuery("#{{ restoreId }} ").click(function() {
            jQuery("#{{ id }} ").jqGrid("restoreRow", selected);
            jQuery("#{{ saveId }} ,#{{ restoreId }} ").attr("disabled", true);
            jQuery("#{{ editId }} ").attr("disabled", false);
        });
        {% endif %}
        {% if addId is defined %}
        jQuery("#{{ addId }} ").click(function() {
            jQuery("#{{ id }} ").jqGrid("addRow", selected);
            jQuery("#{{ editId }} ").attr("disabled", true);
            jQuery("#{{ saveId }},#{{ restoreId }} ").attr("disabled", false);
        });
        {% endif %}
    })
</script>
<table id="{{ id }}"></table>
{% if paginator is defined %}
  <div id="{{ paginator | raw }}"></div>
{% endif %}
